.header-button{
    background-color: #231f20;
    border: 0;
    color: white;
}

.header-button:hover{
    border-color: white;
    border-width: 22px;
}

.drp-btn{
    color: white;
    padding: 0;
    width: max-content;
    border: white;
}

.header-right-button{
    background-color: #231f20;
    border: 0;
    color: white;
    padding-left: 5px;
    margin-inline-start: 25px;
    font-size: 17px;
    font-weight: bold;
}

.lower-header{
    background-color: rgb(35, 47, 63);
    color: white;
    display: flex;
}

.lower-header table tr td{
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-stretch: extra-expanded;
}