.carousel .carousel-control-prev-icon, 
.carousel .carousel-control-next-icon{
    position: absolute;
    top: 15%;
    left: 35%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 50px;
    height: 52px;
}